version: '3.1'

services:
  kproducer:
    image: mauxkproducer:1.0.0
    ports:
      - 8081:8081

  kconsumer:
    image: mauxkconsumer:1.0.0
    environment:
      DEFAULT_GROUP: default_group

networks:
  default:
    external: true
    name: docker_kafka_test
