version: '3.1'

services:
  zookeeper:
    image: wurstmeister/zookeeper:3.4.6
    expose:
      - "2181"
    networks:
      - kafka_test
  kafka:
    image: wurstmeister/kafka:2.11-2.0.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    networks:
      - kafka_test
      
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.0
    environment:
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "discovery.type=single-node"
    ports:
      - "9200:9200"
    volumes:
      - ./elasticsearch_data:/usr/share/elasticsearch/data:rw
    networks:
      - kafka_test

  kibana:
    image: docker.elastic.co/kibana/kibana:7.14.0
    ports:
      - "5601:5601"
    networks:
      - kafka_test
    depends_on:
      - elasticsearch

  logstash:
#    image: logstash:7.16.1
    image: docker.elastic.co/logstash/logstash:7.16.1
    links:
      - elasticsearch
    volumes:
      - ./logstash/config:/config-dir
      - ./logstash/pipeline/:/usr/share/logstash/pipeline/
    command: logstash -f /config-dir/first-pipeline.conf
    networks:
      - kafka_test
    depends_on:
      - elasticsearch

  filebeat:
    image: bargenson/filebeat
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
    environment:
      - LOGSTASH_HOST=logstash
      - LOGSTASH_PORT=5044
      - SHIPPER_NAME=Mauxilium
    networks:
      - kafka_test
    depends_on:
      - logstash

networks:
  kafka_test:
    driver: bridge
    
