server:
  port: 8082

logging:
  level:
    root: INFO
    it.mauxilium.MauxKafkaConsumer.framework.config.KafkaConfig: DEBUG
    it.mauxilium.MauxKafkaConsumer.framework.jackson.DateDeserializer: INFO
    it.mauxilium.MauxKafkaConsumer.framework.usecase.MessageFromTopicUC: INFO
    it.mauxilium.MauxKafkaConsumer.adapter.usecase.ReceivedMessageAdapterUC: INFO

spring:
  application:
    name: MauxKafkaConsumer
  kafka:
    consumer:
      bootstrap-servers: kafka:9092
      group-id: processing
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer